* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style-type: none;
	
}
/* first  section slider*/
.auto-slider{
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 900px;
}
.slider-img{
    width: 100%;
    object-fit: cover;
}
.hide{
    display:none;
}
.slider-container{
    position: relative;
}
.Roca{
    position: absolute;
    top: 48px;
    left: 52px;
    color: #1A1A1A;
    max-width: 230px;
    width: 100%;
    height: 220px;
}
.Roca p {
    color: #B3B3B3;
    font-size: 13px;
    font-family: 'Poppins';
}
.Roca h3{
    font-size: 40px;
    font-family: 'Montserrat';
}
.About{
    position: absolute;
    top:25px;
    right: 82px;
    color: #1C1C1C;
}
.About-01 {
    position: relative; 
}
.About-01 h3{
    font-size: 150px;
    color: #B3B3B3;
    z-index: 0;
    font-family: 'Poppins';
}
.About-me{
    position: absolute;
    font-size:  35px;
    color: #373737;
    height: 60px;
    top: 60px;
    z-index: 1;
}
.my-info{
    position: absolute;
    top: 45%;
    right: 25%;
}
.baristo h2 {
    margin-bottom: 10px;
    font-family: 'Glacial Indifference Bold';
}
.baristo h3{
    margin-bottom: 10px;
    font-family: 'Glacial Indifference';
}
.soc-icon{
    margin-top: 20px;
}
.icon{
    margin-left:10px;
    cursor: pointer;
}
.clients{
    position: absolute;
    top: 88%;
    right: 5%;
    color: #212121;
    font-size: 24px;
}
.procent{
    color:#E93656;
}
.Stat-clients{
    max-width: 340px;
    width: 100%;
    height: 6px;
    background-color: #E93656;
}
/*  second section, my information  */
.information-container{
    max-width: 1920px;
    width: 100%;
    margin-top: 135px;   
}
.information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.chabu{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-end;
    max-width: 335px;
    width: 100%;

}
.chabu h2{
    font-family: 'Glacial Indifference Bold';
}
.chabu p{
    font-family: 'Glacial Indifference';
}
.web-designer{
    margin-top: 6px;
    color: #DAAE19;
}
.text-info{
    margin-top: 33px;
}
.Hire-button{
    width: 152px;
    height: 50px;
    background-color: #E93656;
    color: #FFFFFF;
    border: none;
    margin-top: 60px;
}
.image-designer{
    max-width: 430px;
}
.designer-img{
    max-width:430px;
    width: 100%;
    height: 600px;
}
.abilities{
    margin-left:70px;
    margin-top:50px;
    max-width: 300px;
    width: 100%;
}
.progress-bar{
    width:300px;
    height:9px;
    background-color:#F0F0F0;
    margin-top:15px;
    margin-bottom:23px;
}
.progress{
    width:0%;
    height:9px;
    background-color:#E93656;
    transition: all 1s;
} 
.social-icon{
    display:flex;
    justify-content:flex-start;
    margin-top:92px;
    max-width: 215px;
    width: 215px;
    height: 50px;
}
.icon-img:hover{
    background-color: #0b6cf4;
    transition: 2s;

}
.contacts-area{
    background-color:#131A36;
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 210px;
}
.contacts{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.address-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor:pointer;   
}
.personal-info{
    color: #FFFFFF;
    margin-left: 30px;
}
.personal-info h2{
    margin-bottom: 15px;
}
.address-logo a{
    color: #FFFFFF
}
.color-white{
    color: #FFFFFF;
}
.contact-logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px dashed #FFFFFF;
    position: relative;
}
.contact-logo:hover{
    border: none;
    background-color: #E93656;
    cursor: pointer;
    transition: 1s;
}
.personal-info h2{
    font-family: 'Glacial Indifference Bold';
}
.personal-info p{
    margin-bottom: 5px;
    font-family: 'Muli';
}
/* third section, Information cards */

.card-container{
    max-width: 1920px;
    width: 100%;
}
.cards{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
}
.card{
    width: 285px;
    height:360px;
    background-color:#FAFAFA;
    display:flex;
    flex-direction: column; 
    justify-content:center;
    align-items:center;  
    opacity: 1;
    transition: all 0.3s linear;
    cursor: pointer;

}
.position{
    color: #E93656;
}
.author{
    font-size: 28px;
    margin-top: 9px;
    color: #FFFFFF;
}
.card-info{
    width: 285px;
    height:360px;
    background-color:#15263E;   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: absolute;
    bottom:5px;
    opacity: 0;
    transition: all 0.3s ;
    cursor: pointer;
   
}
.card-info h3 {
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 19px;
    font-family: 'Glacial Indifference Bold';
}
.card-info p{
    color: #FAFAFA;
    width: 220px;
    height: 70px;
    font-family: 'Muli-Light';
}



.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom:200px;
}
.abilities-cards{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    position: relative;
}

.abilities-cards:hover .card {
    opacity: 0;
   
}
.abilities-cards:hover .card-info {
    opacity: 1;
    transition: all 0.5s linear;
}


/* four section, People's recommendations */
.background-container{
    background-image: url('../image/clip.jpg');
}
.background{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    height:570px;
    margin-bottom:72px;
}
.first-button,.first-button,.third-button{
    width:13px;
    height:13px;
    border:solid 2px #FFFFFF;
    margin:6.5px 0;
    cursor: pointer;
}
  .first-button:hover,.first-button:hover,.third-button:hover{
    border:solid 2px #E93656; 
} 
.slide-buttons{
    display:flex;
    flex-direction:column-reverse;
    justify-content:center;
    align-items:center; 
    margin-left: 13%;
}
.text-review{
    max-width: 500px;
    width: 100%;
    height: 80px;
    color: #FFFFFF;
}
.button-slide,.review{
    display:flex;
    justify-content: center;
    align-items: center;
}

.person-img{
    border: dashed 2px white;
    border-radius:50%;
    padding:15px;
}
.person-name >img{
    margin-bottom:45px;
}

.person-name{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left:50px;
}
.none{
    display:none;
}

/* section 5 */

.project-section{
    max-width: 1170px;
    width:100%;
    margin: 50px auto;
}
.latest-projects{
    font-size: 70px;
    text-align: center;
    margin-top: 144px;
}

.main-flex{
    display:flex;
    justify-content:center;
    margin-top: 55px;
}
.img-pro{
    max-width:300px;
    width:100%;
    height:350px;
    object-fit: cover;
   
}
.nav-li{
    color: #FFFFFF;
    margin-top: 20px;
}
.nav-li:hover{
    color: #E93656;

}
.side-bar{
    background-color:#15263E;
    padding:50px;
    height: 400px;
}

.project{
    position: relative;
   
}
.date{
    color: #DDDDDD;
    font-size: 11px;
    margin-top: 17px;
}
.title{
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 7px;
}
.project:hover .title-background{
    
    opacity:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-all{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.title-background{
    max-width:300px;
    width:100%;
    height:352px;
    background-color:#000000;
    opacity: 80%;
    position:absolute;
    bottom:4px;
     opacity:0;
}
.heart-logo{
    border:solid 2px #E93656;
    border-radius:50%;
   padding:19px;
   margin-bottom:17px;
}

.display{
   opacity:0;
}

/* section 6  */
.article-container{
    max-width: 1920px;
    width: 100%;
}

.article-title{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 80px;
}
.article-title p{
    color: #2ED279;
    font-size: 13px;
}
.article-title h2{
    font-size: 70px;
}

.article-flex{
    display:flex;
    justify-content:flex-end;
}
 .article{
    background-color:#FAFAFA;
    max-width:800px;
    padding:40px 40px 40px 24px;
    max-height:590px;
   
} 
.personal-designer{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 28px;
}
.company{
    font-size: 14px;
}


.years{
    background-color:#15263E;
    display:flex;
    justify-content: center;
    align-items: center;
    max-height:482px;
}
.image{
    max-height:590px;
    max-width:800px;
}
.article-img{
    width:100%;
    height:100%;
    object-fit: cover;
   
} 

.third-article-flex{
    display:flex;
    justify-content:center;
   

}
.second-article-flex{
    width:95%;
    display:flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.second-article{
    background-color:#FAFAFA;
    max-width:800px;
    padding:40px 5px 40px 80px;
    max-height:590px;
} 
.third-article{
    background-color:#FAFAFA;
    max-width:800px;
    padding:40px 80px 40px 80px;
    max-height:590px;
}
.article-div{
    margin-bottom:80px;
}

/*  */
.rosa{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 80px;
}
.rosa p{
    color: #2ED279;
    font-size: 14px;
}
.rosa h2{
    font-size: 70px;
}

.rosa-card{
    background-color:#FFFFFF;
    border:solid 4px #E93656;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:32px;
    position:absolute;
    width:210px;
    opacity:0;
   
}

.logos{
    margin-top:100px;
    position:relative;
    display:flex;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
}


.all-logos{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.logo-image{
    opacity:1;
}

.logos:hover .logo-image{
   opacity:0;
}

.logos:hover .rosa-card{
   opacity:1;
}

/*  */
.form-section{
    margin-top: 195px;
}
.form-back{
    margin-top:75px; 
    background-image: url('../image/map.jpg');
    position:relative;
    height:660px;
 
}
.form-div{
    text-align: center;
}
.form-div h2{
    font-size: 45px;
    color: #FFFFFF;
    margin-top: 152px;
}
.form-div p{
    font-size: 17px;
    color: #EEEEEE;
}

.modal{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:solid 4px DarkSeaGreen;
    padding:30px; 
    background-color:#15263E;
   
}
.block{
    display:none;
}
.modal-border{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .form-layer{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:#000000;
    opacity:0.71;
} 



.user{
    outline: none;
    padding:18px 30px;
    width:100%;
    background-color:#FAFAFA;
   
}
.input-div{
    max-width:290px;
    width:100%;
    margin:46px 5px 5px 5px;
   
}

.div-message{
    max-width:890px;
    width:100%;
    margin: 0 auto;
   
}
.input-message{
    padding:22px 30px;
    width:100%;
    height:110px;
    margin-bottom:15px;
    outline:none;
}
.reg-div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.form-button{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    border: 2px solid #E93656;
    width: 185px;
    height: 50px;
    margin: 0 auto;  
}
.reg-btn{
    color: #E93656;
    background: none;
}
.footer-div{
    background-color:#282828;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title{
    max-width:613px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logos{
    margin:40px 0;
}
.fa{
    margin:0 5px;
    color:aqua;
}

.footer{
    background-color:#171717;
    
}

.footer-title h2{
    font-size: 55px;
    color: #FFFFFF;
    margin-top: 110px;
    margin-bottom: 22px;
}
.footer-span{
    color: #E93656;
}
.footer-title p{
    color: #A5A5A5;
}
.footer p{
    color: #A0A8B7;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}
.footer-icon{
    max-width: 300px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

@media (max-width:1024px) {

.slider{
    display: none;
}
.information{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.contacts-area{
    display: none;

}
.background{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.main-flex{
    display: block;
    text-align: center;
}
.article-container{
    display: none;
}
.all-logos{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
}